.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Sayfanın tamamını kaplasın */
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    width: 80%;
    margin: auto;
    justify-items: center;
    flex: 1; /* İçeriği büyüt, footer'ı alta it */
    margin-top: 3rem;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 16px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.05);
}

/* Mobil görünüm */
@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        width: 90%;
        height: auto;
    }
}

/* Tablet ve orta boyutlu ekranlar */
@media screen and (max-width: 1310px) and (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }
}
